.container{
    width:fit-content;
    margin: 50px auto;
    position: relative;
}

.slide{
    height: 650px;
    width: 500px;
    object-fit: cover;
    border-radius: 30px;
}

.slide-action-icon{
    height: 50px;
    position: absolute;
    cursor: pointer;
    transition: 0.5s;
}

.icon-next{
    right: 10px;
    top: 50%;
}

.icon-next:hover{
    transform: scale(0.8) translateX(10px) ;
}

.icon-previous{
    left: 10px;
    top: 50%;
}

.icon-previous:hover{
    transform: scale(0.8) translateX(-10px);
}
